{% extends "base.html" %}

{% block title %}All Courses{% endblock %}

{% block content %}
<div class="container mt-4">
  <div class="row">
    {% for course in allcourses %}
      <div class="col-md-4 mb-3">
        <div class="card h-100">
          {% if course.thumbnail %}
            <img src="{{ course.course_thumbnail.url }}" class="card-img-top" alt="{{ course.course_title }}">
          {% endif %}
          <div class="card-body">
            <h5 class="card-title">{{ course.course_title }}</h5>
            <p class="card-text">{{ course.course_description|truncatewords:20 }}</p>
            <p>By: {{ course.author.username }}</p>
            <a href="{{ course.youtube_url }}" target="_blank" class="btn btn-primary">Watch Video</a>
          </div>
        </div>
      </div>
    {% empty %}
      <p>No courses available.</p>
    {% endfor %}
  </div>
</div>
{% endblock %}
